<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.connection.driver_class">
		org.gjt.mm.mysql.Driver
	</property>
	<!-- Assume test is the database name -->
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/xiaoD
	</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">root</property>

	<!-- List of XML mapping files -->
	<property name="dialect">org.hibernate.dialect.DB2Dialect</property>
	<mapping resource="HBM/Target.hbm.xml" />
	<mapping resource="HBM/TargetDetail.hbm.xml" />
	<mapping resource="HBM/Plan.hbm.xml" />
	<mapping resource="HBM/PlanDetail.hbm.xml" />
	<mapping resource="HBM/Task.hbm.xml" />
</session-factory>
</hibernate-configuration> 